.row.collapse
  .medium-4.columns

    .row.collapse
      = select_tag :sort, options_for_select([['Sort by Location', nil], ['Sort by Rating', 'rating']], params[:sort]), class: 'sort-by'

    .row.collapse
      .medium-12.columns
        %ol.results{ start: @restaurants.start }
          - @restaurants.each do |restaurant|
            %li.result{ data: { restaurant: restaurant.to_json } }
              = "#{restaurant.name} (#{number_with_precision(restaurant.distance, precision: 1)} mi)"
              .sub-result
                .rating{ data: { rating: restaurant.rating.to_i } }
                = restaurant.burgers.map(&:category).join(', ')

        %p= pluralize(@restaurants.total_count, 'result')
        = paginate @restaurants

  .medium-8.columns
    .row.map-row
      #map-canvas{ style: 'height: 500px', data: { location: { latitude: location[0], longitude: location[1] }, restaurants: @restaurants.to_json } }
