!!! 5
%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : 'Burger Map'

    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    %script{ type: 'text/javascript', src: "https://maps.googleapis.com/maps/api/js?key=#{GOOGLE_MAP_API_KEY}&sensor=false" }
    = csrf_meta_tag

  %body

    .off-canvas-wrap
      .inner-wrap

        .hide-for-small-only
          %nav.top-bar{ data: { topbar: true } }
            %ul.title-area
              %li.name
                %h1
                  = link_to 'Burger Map', root_path

            %section.top-bar-section
              %ul.left
                %li.has-form
                  = form_tag restaurants_path, method: :get, id: 'search-form' do
                    = hidden_field_tag :sort, nil

                    .row.collapse
                      .small-5.columns
                        = text_field_tag :q, params[:q], autofocus: true, placeholder: 'Keywords'
                      .small-5.columns
                        = text_field_tag :location, params[:location], placeholder: 'Current Location'
                      .small-2.columns
                        = button_tag type: 'submit', id: 'search', class: 'search-button' do
                          %i.fi-magnifying-glass{ style: 'color: white' }

              %ul.right
                - if user_signed_in?
                  %li
                    = link_to 'Edit profile', edit_user_registration_path
                  %li
                    = link_to 'Sign out', destroy_user_session_path
                - else
                  %li
                    = link_to 'Register', new_user_registration_path
                  %li.sign-in-dropdown.has-dropdown
                    = link_to 'Sign in', '#', class: 'sign-in'
                    %ul.dropdown
                      %li.dropdown-content{ style: 'width: 300px' }
                        .row.collapse
                          = form_for User.new, as: 'user', url: session_path('user') do |f|
                            .row
                              = f.email_field :email, placeholder: 'Email'
                            .row
                              = f.password_field :password, autocomplete: 'off', placeholder: 'Password'
                            .row.collapse.login-actions
                              .small-6.columns.checkbox
                                = f.check_box :remember_me
                                = f.label :remember_me
                              .small-6.columns
                                = f.submit 'Sign in', class: ['button', 'right']

        .show-for-small-only
          %nav.tab-bar
            %section.left-small
              %a.left-off-canvas-toggle.fi-magnifying-glass
                %span
            %section.right-small
              %a.right-off-canvas-toggle.menu-icon
                %span

        .show-for-small-only
          %aside.left-off-canvas-menu
            .row
              = form_tag restaurants_path, method: :get, id: 'search-form-small' do
                = hidden_field_tag :sort, nil
                = text_field_tag :q, params[:q], autofocus: true, placeholder: 'Keywords'
                = text_field_tag :location, params[:location], placeholder: 'Current Location'
                = button_tag type: 'submit', id: 'search', class: 'search-button' do
                  %i.fi-magnifying-glass{ style: 'color: white' }

        .show-for-small-only
          %aside.right-off-canvas-menu
            %ul.off-canvas-list
              - if user_signed_in?
                %li
                  = link_to 'Edit profile', edit_user_registration_path
                %li
                  = link_to 'Sign out', destroy_user_session_path
              - else
                %li
                  = link_to 'Register', new_user_registration_path
                %li
                  = link_to 'Sign in', new_user_session_path

        %a.exit-off-canvas.show-for-small-only

        %section.main-section
          = yield

    = javascript_include_tag "application"
